* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

.menu {
  height: 60px;
  font-size: 14px;
  width: 100%;
  line-height: 15px;
}
.menu i {
  font-size: 20px;
}
.menu i:hover {
  font-size: 23px;
}

.nav-margin {
  margin-left: 20px;
}

.nav-brand {
  line-height: 25px;
  font-size: 18px;
  color: #0da2ff;
  font-weight: bold;
  margin-left: 40px;
}

.nav-item {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.nav-item:before {
  content: "";
  position: absolute;
  width: 0;
  background-color: #bfe6ff;
  height: 100%;
  top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: -1;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  margin-left: -10px;
}
.nav-item:hover::before {
  width: 100%;
}

.nav-effect {
  width: 100%;
  height: 5px;
  background-color: #0da2ff;
}

header {
  position: relative;
  width: 100%;
  height: calc(100vh - 65px);
  overflow: hidden;
  background-color: #f0f2ff;
}
header h1 {
  font-size: 60px;
  margin: 30vh 0 -10px 12%;
}
header h2 {
  font-size: 38px;
  color: #0da2ff;
  margin-left: 12%;
}

.box {
  position: absolute;
  height: calc(100vh - 5px);
  width: 650px;
  right: -150px;
  top: 0;
  -webkit-transform: skew(-22deg);
          transform: skew(-22deg);
  background-color: #0da2ff;
}

.about {
  width: 100%;
  color: RGB(57, 57, 57);
}

.main-text {
  font-weight: bold;
  font-size: 35px;
  margin-top: 60px;
}

.shelf {
  width: 70px;
  height: 4px;
  background-color: RGB(57, 57, 57);
  margin-bottom: 40px;
}

.about-info div {
  width: 450px;
  background-color: rgb(202, 202, 202);
  height: 400px;
}
.about-info p {
  line-height: 20px;
  font-size: 15px;
}