* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  font-size: 14px;
}
.menu .nav-margin {
  margin-left: 45px;
}
.menu i {
  font-size: 20px;
}
.menu .nav-brand {
  font-size: 18px;
  color: #0da2ff;
  font-weight: bold;
}
.menu li {
  -webkit-transition: 1s;
  transition: 1s;
}
.menu li :hover {
  background-color: #bfe6ff;
}

.nav-effect {
  width: 100%;
  height: 5px;
  background-color: #0da2ff;
}