.about{
    width: 100%;
}

.main-text{
    font-weight: bold;
    font-size: 35px;
    margin-top: 60px;
}

.shelf{
    width: 70px;
    height: 4px;
    background-color: $blackLight;
    margin-bottom: 40px;
}