.about{
    width: 100%;
    color: $blackLight;
}

.main-text{
    font-weight: bold;
    font-size: 35px;
    margin-top: 60px;
}

.shelf{
    width: 70px;
    height: 4px;
    background-color: $blackLight;
    margin-bottom: 40px;
}

.about-info{
    img{
        width: 70%;
        border-radius: 35px;
    }

    p{
        line-height: 20px;
        font-size: 15px;
    }
}

.about-column{
    background-color: rgb(202, 202, 202);
    height: 400px;
    margin-bottom: 80px;
}

.language{
    width: 100%;
    height: 33px;
    line-height: 33px;
    
    span{
        padding-right: 13px;
    }
}

.language-name{
    width: 100px;
    background-color: $blueDark;
}

.language-percent1{
    width: 85%;
    background-color: $blueLight;
    position: relative;
}