.about{
    width: 100%;
    color: $blackLight;
}

.main-text{
    font-weight: bold;
    font-size: 35px;
    margin-top: 60px;
}

.shelf{
    width: 70px;
    height: 4px;
    background-color: $blackLight;
    margin-bottom: 40px;
}

.about-info{
    div{
        width: 450px;
        background-color: rgb(202, 202, 202);
        height: 400px;
    }

    p{
        line-height: 20px;
        font-size: 15px;
    }
}