header{
    position: relative;
    width: 100%;
    height: calc(100vh - 65px);
    overflow: hidden;
    background-color: $gray;
    padding-left: 12%;

    h1{
        position: relative;
        font-size: 60px;
        margin: 30vh 0 -10px 0;
    }

    h2{
        position: relative;
        font-size: 38px;
        color: $blueDark;
    }

    img{
        position: absolute;
        width: 450px;
        bottom: 0;
        left: 55%;
    }
}

.box{
    position: absolute;
    height: calc(100vh - 5px);
    width: 43%;
    right: -210px;
    top: 0;
    transform: skew(-22deg);
    background-color: $blueDark;
}