header{
    position: relative;
    width: 100%;
    height: calc(100vh - 65px);
    overflow: hidden;
    background-color: $gray;

    h1{
        font-size: 60px;
        margin: 30vh 0 -10px 12%;
    }

    h2{
        font-size: 38px;
        color: $blueDark;
        margin-left: 12%;
    }
}

.box{
    position: absolute;
    height: calc(100vh - 5px);
    width: 650px;
    right: -150px;
    top: 0;
    transform: skew(-22deg);
    background-color: $blueDark;
}