@media only screen and (max-width: 768px) {
    .margin-responsive{
        margin-top: 12px;
    }

    .margin-link{
        margin: 0;
    }

    .nav-item {
        background-color: white;
        padding: 3px 0;
        text-align: center;

        &::before{
            left: 0;
        }

        &:hover{
            &::before{
                width: 75%;
            }
        }
    }
}