@media only screen and (max-width: 1480px) {
    .project-card{
        width: 350px;
    }
}

@media only screen and (max-width: 1250px) {
    .project-card{
        width: 290px;
    }
}

@media only screen and (max-width: 1000px) {
    .experience-card{
        flex-direction: column-reverse;
        margin: 0;
        padding: 0 20px;
        text-align: center;
        align-items: center;

        span{
            margin-bottom: 10px;
        }
    }
    
    .card-details{
        width: 100%;
        margin: 0;

        h2{
            margin-top: 10px;
        }
    }

    .jw-logo{
        margin: 20px 0 30px 0;
        padding: 0;
    }
    
    .company-name{
        line-height: 30px;
        margin-top: 0px;
    }

    .epinote-logo{
        margin-top: 10px;
    }

    .company-position{
        line-height: 30px;
        margin-bottom: 15px;
    }

    .experience-heading-text{
        margin: -60px 0 30px 0;
        text-align: center;
    }

    header{
        padding-left: 8%;

        img{
            width: 350px;
            left: 60%;
        }
    }
}

@media only screen and (max-width: 992px) {
    .project-card{
        width: 335px;
    }
}

@media only screen and (max-width: 768px) {
    .margin-responsive{
        margin-top: 12px;
    }

    .margin-link{
        margin: 0;
    }

    .project-card{
        width: 80%;
    }

    .nav-item {
        background-color: white;
        padding: 3px 0;
        text-align: center;

        &::before{
            left: 0;
        }

        &:hover{
            &::before{
                width: 75%;
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    .about-column{
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 600px) {
    .project-card{
        width: 100%;
    }

    header{
        background-color: $blueDark;
        
        h1{
            font-size: 50px;
        }

        h2{
            color: white;
        }

        img{
            width: 320px;
            left: 63%;
        }
    }
}

@media only screen and (max-width: 550px) {
    .about-column{
        margin-bottom: 0;
    }

    header{
        text-align: center;
        padding: 0;

        h1{
            margin: 16vh 0 -10px 0;
            font-size: 45px;
        }

        h2{
            font-size: 35px;
        }

        img{
            width: 300px;
            left: 20%;
        }
    }
}

@media only screen and (max-width: 500px) {
    header{

        h1{
            font-size: 45px;
        }
    }
}

@media only screen and (max-width: 400px) {
    header{

        h1{
            font-size: 35px;
        }

        h2{
            font-size: 30px;
        }

        img{
            width: 280px;
        }
    }
}