.navbar{
    font-size: 15px;
    line-height: 15px;
    height: 60px;
}

.bi-github, .bi-linkedin{
    font-size: 21px;
    padding: 12px;
    overflow: hidden;
    
    &:hover{
        font-size: 23px;
    }
}

.navbar-brand{
    line-height: 25px;
    font-size: 18px;
    color: $blueDark;
    font-weight: bold;
    margin-left: 40px;

    &:hover{
        color: $blueDark;
    }
}

.icons-holder a{
    text-decoration: none;
}

.nav-item{
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0 12px 0 0;

    &:before{
        content: '';
        position: absolute;
        width: 0;
        background-color: $blueWhite;
        height: 100%;
        transition: .6s;
        z-index: -1;
        transform: skew(-30deg);
        margin-left: -10px;
    }

    &:hover{
        &::before{
            width: 100%;
        }
    }
}

.margin-link{
    margin-right: 1.5rem;
}

.nav-effect{
    width: 100%;
    height: 5px;
    background-color: $blueDark;
}