*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
}

@import 'variables';
@import 'menu';
@import 'header';
@import 'about';
@import 'experience';
@import 'projects';
@import 'contact';
@import 'footer';
@import 'media';